{% extends "layouts/base.html" -%}
{% from "components/sidebar.html" import sidebar -%}

{%- block title -%}
  {{ assigns.job.employment_type_name }}

  {%- if assigns.job.is_remote -%}
    Remote
  {%- elif assigns.job.onsite_locations|length > 0 and assigns.job.applicant_locations|length > 0 -%}
    Hybrid
  {%- else -%}
    On-site
  {% endif %}
  {{ assigns.job.position }}
  (Starting {{ assigns.job.location_salaries[0].min_salary_formatted }})
  at {{ assigns.job.company_name }}
{%- endblock -%}

{%- block head -%}
  {{ super() }}
  {%- if assigns.build_info.commit_hash is not none -%}
    <link rel="stylesheet" href="/assets/css/pages/job_view/style-{{ assigns.build_info.commit_hash }}.css">
  {%- else -%}
    <link rel="stylesheet" href="/assets/css/pages/job_view/style.css">
  {%- endif -%}

  <!-- Primary Meta Tags -->
  <meta name="description" content="{{ assigns.job.company_name }} is hiring a {{ assigns.job.position }} (Starting {{ assigns.job.location_salaries[0].min_salary_formatted }}).">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://www.remotehiro.com/jobs/{{ assigns.job.position|slugify }}-{{ assigns.job.id }}">
  <meta property="og:title" content="{{ assigns.job.position }} (Starting {{ assigns.job.location_salaries[0].min_salary_formatted }}) at {{ assigns.job.company_name }}">
  <meta property="og:description" content="{{ assigns.job.company_name }} is hiring a {{ assigns.job.position }} (Starting {{ assigns.job.location_salaries[0].min_salary_formatted }}).">
  <meta property="og:image" content="https://www.remotehiro.com/assets/images/thumbnail.jpg">

  <!-- X (Twitter) -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:url" content="https://www.remotehiro.com/jobs/{{ assigns.job.position|slugify }}-{{ assigns.job.id }}">
  <meta name="twitter:title" content="{{ assigns.job.position }} (Starting {{ assigns.job.location_salaries[0].min_salary_formatted }}) at {{ assigns.job.company_name }}">
  <meta name="twitter:description" content="{{ assigns.job.company_name }} is hiring a {{ assigns.job.position }} (Starting {{ assigns.job.location_salaries[0].min_salary_formatted }}).">
  <meta name="twitter:image" content="https://www.remotehiro.com/assets/images/thumbnail.jpg">

  <link rel="canonical" href="https://www.remotehiro.com/jobs/{{ assigns.job.position|slugify }}-{{ assigns.job.id }}">

  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "JobPosting",
    "title": {{ assigns.job.position|tojson }},
    "datePosted": "{{ assigns.job.created_at|dateformat(format='short') }}",
    "description": {{ assigns.job.description|render_markdown|tojson }},
    "hiringOrganization": {
      "@type": "Organization",
      "name": {{ assigns.job.company_name|tojson }}
    },
    "employmentType": {{ assigns.job.employment_type|upper|replace("-", "_")|tojson }},
    {%- if assigns.job.apply_url is not none %}
    "directApply": true,
    {%- endif %}
    {%- if assigns.job.location_salaries|length > 0 %}
    "baseSalary": {
      "@type": "MonetaryAmount",
      "currency": {{ assigns.job.location_salaries[0].currency_code|tojson }},
      "value": {
        "@type": "QuantitativeValue",
        "minValue": {{ assigns.job.location_salaries[0].min_salary }},
        {%- if assigns.job.location_salaries[0].max_salary is not none %}
        "maxValue": {{ assigns.job.location_salaries[0].max_salary }},
        {%- endif %}
        "unitText": "YEAR"
      }
    },
    {%- endif %}
    {%- if assigns.job.is_remote or assigns.job.is_worldwide %}
    "jobLocationType": "TELECOMMUTE",
    {%- endif %}
    {%- if assigns.job.onsite_locations|length > 0 %}
    "jobLocation": [
      {%- for location in assigns.job.onsite_locations %}
      {
        "@type": "Place",
        "address": {
          "@type": "PostalAddress",
          {%- if location.city_name is not none %}
          "addressLocality": {{ location.city_name|tojson }},
          {%- endif %}
          "addressCountry": {{ location.country_iso2|tojson }}
        }
      }{{ "," if not loop.last else "" }}
      {%- endfor %}
    ],
    {%- elif assigns.job.applicant_locations|length > 0 and not assigns.job.is_worldwide %}
    "applicantLocationRequirements": [
      {%- for location in assigns.job.applicant_locations %}
      {
        "@type": {% if location.country_name is not none %}"Country"{% else %}"AdministrativeArea"{% endif %},
        "name": {{ (location.country_name or location.subregion_name or location.business_region_name or location.region_name)|tojson }}
      }{{ "," if not loop.last else "" }}
      {%- endfor %}
    ],
    {%- endif %}
    "url": "https://www.remotehiro.com/jobs/{{ assigns.job.position|slugify }}-{{ assigns.job.id }}"
  }
  </script>
{%- endblock -%}

{%- block body -%}
  <main class="page-container">
    {%- call sidebar() -%}{%- endcall -%}

    <section class="job-page-description" style="padding-top: 1rem;">
      <article>
        <a
          href="/{{ bool(query is not none and query != '', '?' ~ query, '') }}"
          preload="mouseover">
          [Back to job results]
        </a>
      </article>

      <br>

      {%- if assigns.job.apply_url is not none -%}
        <article>
          <a href="{{ assigns.job.apply_url }}" target="_blank" rel="nofollow noopener">[Apply for this position]</a>
        </article>
      {%- endif -%}

      {%- if assigns.job.apply_email is not none -%}
        <article>
          <a href="mailto:{{ assigns.job.apply_email }}">[Apply for this position]</a>
        </article>
      {%- endif -%}

      {%- include "partials/job_details.html" -%}

      {%- if assigns.job.apply_url is not none -%}
        <article>
          <a href="{{ assigns.job.apply_url }}" target="_blank" rel="nofollow noopener">[Apply for this position]</a>
        </article>
      {%- endif -%}

      {%- if assigns.job.apply_email is not none -%}
        <article>
          <a href="mailto:{{ assigns.job.apply_email }}">[Apply for this position]</a>
        </article>
      {%- endif -%}
    </section>

  </main>
{%- endblock -%}

{%- block script -%}
{%- endblock -%}
